{% extends "fifthApp/base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Please login</h1>
        <form action="{% url 'fifthApp:login'%}" method="POST">
            {% csrf_token %}
            <label for="username">
                Username:
                <input type="text" name="username" id="username" placeholder="Enter username">
            </label>
            <label for="password">
                Password:
                <input type="password" name="password" id="password" >
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}